<section>
  <div class="row">
    <div (click)="showHideCircle(0)" class="square">0
      <div *ngIf="currentIndex === 0" class="circle"></div>
      <div *ngIf="lastIndex === 0 && currentIndex !== 0" class="shadow-circle"></div>
    </div>
    <div (click)="showHideCircle(1)" class="square">1
      <div *ngIf="currentIndex === 1" class="circle"></div>
      <div *ngIf="lastIndex === 1" class="shadow-circle"></div>
    </div>
  </div>
  <div class="row">
    <div (click)="showHideCircle(2)" class="square">2
      <div *ngIf="currentIndex === 2" class="circle"></div>
      <div *ngIf="lastIndex === 2" class="shadow-circle"></div>
    </div>
    <div (click)="showHideCircle(3)" class="square">3
      <div *ngIf="currentIndex === 3" class="circle">
      <div *ngIf="lastIndex === 3" class="shadow-circle"></div>
      </div>
    </div>
  </div>
</section>